.Map {
	text-align: center;
	width: 100%;
}

.Map_Card {
	display: inline-block;
	padding: 50px;
	width: 100%;

}
.Map_title {
	padding-bottom: 25px;
	text-align: center;
	color: #aa660e;
}
.Map_Card p {
	text-align: center;
}
.Map_map{
	display:flex;
}
.Map_legende {
	float: right;
	margin: auto;
}

