.Main_title {
	padding:  20px 0 20px;
	text-align: center;
	color: #aa660e;
}

.Main_map{
	width: 100%;
}

.Main_map_svg {
	width: 70%;
}

.Main_map_legende {
	padding-bottom: 20px;
}

.Main_list {
	width: 20%;
}

.Main_list_title {
	margin-top: 50px;
}

.Main_list_item {
	margin: 1px 0 1px;
}

/* .Map_list_item {
	border-radius: 8px;
} */
